.card{
    margin-top: 15px;
    border: 1px solid blue;
    padding: 45px ;
    top: 1%;
    background-color: rgb(178, 247, 244);
}
.container{
    display: flex;
    justify-content: center;

}
.abc{
    height: 655px;
    width: 100%;
    background-color: rgb(250, 250, 235);
}